TEST_POSTGRES_USER=test
TEST_POSTGRES_PASSWORD=12345678
TEST_POSTGRES_HOST=test_user_db
TEST_POSTGRES_PORT=5432
TEST_POSTGRES_DB=db
TEST_REDIS_HOST=test_user_redis
TEST_REDIS_PORT=6379
PYTHONUNBUFFERED=TRUE